/* Default styles for scrollbar */
::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Styles for Swiper slide */
.swiper-slide {
  width: 25rem;
  height: 40rem;
  padding: 2rem;
}

/* Styles for hiding slide shadows on smaller screens */
@media (max-width: 768px) {
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
}
