@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}



.content {
  width: 330px;
  height: 210px;
  background: #f0f0f0;
  border-radius: 3px;
  overflow-y: auto;
  left: 10px;
}

.wrapper {
  padding: 10px;
  width: 100%;
  height: 100%;
  transform: scale(0.5);
}

/* Media query para telas menores */
@media screen and (max-width: 780px) {
  .content {
    width: 100%;
    height: 210px;
    background: #f0f0f0;
    overflow-y: auto;
    padding: 10px;
    margin-left: 25px;
    margin-top: 25px;

  }
  .wrapper {
    padding: 10px;
    width: 100%;
    height: 100%;
    transform: scale(0.5);
    display: flex;
    justify-content: center; /* Centralizando horizontalmente */
    align-items: center; /* Centralizando verticalmente */
  }
}
